//Colors

$primary-color1 : hsl(0, 78%, 62%);
$primary-color2 : hsl(180, 62%, 55%);
$primary-color3 : hsl(34, 97%, 64%);
$primary-color4 : hsl(212, 86%, 64%);
$neutral-color1 : hsl(234, 12%, 34%);
$neutral-color2 : hsl(212, 6%, 44%);
$neutral-color3 : hsl(0, 0%, 100%);
$neutral-color4 : hsl(0, 0%, 0%);

//Typography
$font-size : 15px;
$font-family : 'Poppins', sans-serif;
$font-weight-light : 200;
$font-weight-normal : 400;
$font-weight-bold : 700;

